body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: 'Sigmar', cursive;
    color: #088395;
    font-weight: 400;
    font-size: 10rem;
}

button {
    font-family: 'Sigmar', cursive;
    color: black;
    font-size: 2rem;
    border-radius: 10px;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    color: #088395;
    margin-top: 3rem;
    padding: 10px;
}

.worldText {
    color: #ECC9EE;
}

